  * {
  box-sizing: border-box;
}

h1 {
  font-family: 'Marck Script', cursive;
  color: white;
  background-color: black;
  font-size: 60px;
  text-align: center;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 600px;
  flex-wrap: wrap;
  background-image: url(pictures/harry1.jpg);
  background-size: 1400px;
  background-repeat: no-repeat;

}

.container {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.grid {
  /* background-image: url(https://media.giphy.com/media/NcAIyreaZovjq/giphy.gif);\
  background-size: cover;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  align-items: center; */
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 33.33px;
  width: 33.33px;
  border: 1px solid black;
}

.snake {
  background-color: red;
}

.food {
  /* need to fix my snitch size!!! */
  background-image: url(pictures/golden-snitch.jpg);\
  background-size: contain;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
}

.button {
  color: red;
}

.endOfGame{
  background-image: url(pictures/Untitled_Artwork.jpg);
  height: auto;
  width: auto;
}

.score {
  color: red;
}
