* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Marck Script', cursive;
  color: white;
  background-color: black;
  font-size: 50px;
  text-align: center;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 700px;
  flex-wrap: wrap;
  background-image: url(https://wallpapercave.com/wp/zae2zaR.jpg);
  background-size: 1350px;
  background-repeat: no-repeat;

}

.container {
  background-color: black;
}

.grid {
  background-image: url(https://media.giphy.com/media/NcAIyreaZovjq/giphy.gif);\
  background-size: cover;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 33.33px;
  width: 33.33px;
  border: 1px solid black;
}

.snake {
  background-color: dodgerblue;
}

.food {
  background-image: url(https://media.giphy.com/media/go5Iy1VIpVwqI/giphy.gif);\
  background-size: auto;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
}

.score {
  color: red;
}

.button {
  color: red;
}
