* {
  box-sizing: border-box;
}

header {
  background-image: url(pictures/ezgif-3-fbec28bcdf1c.gif);
  background-position: center;
}

h1 {
  color: white;
  font-family: 'Montez', cursive;
  font-size: 100px;
  letter-spacing: 20px;
  text-align: center;
}

body {
    overflow: hidden;
    height: 100vh;
    background-image: url('pictures/black-background.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    width: 100%;
  }

main {
  display: flex;
  margin: 0;
  height: 100vh;
  background-image: url(pictures/harry1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;;
}

.grid {
  background-color: rgba(39, 119, 247,.05);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  box-shadow: 0 0 15px 2px #0088AE inset;
  flex-wrap: wrap;
}

.grid div {
  flex-grow: 1;
  height: 33.33px;
  width: 33.33px;
}

.container {
  /* background-color: dodgerblue; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;

}

.snake {
  background-image: url(pictures/snake2.gif);
  background-size: contain;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
}

.food {
  /* need to fix my snitch size!!! */
  background-image: url(pictures/dementor.jpg);
  background-size: contain;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 2px 2px #0088AE inset;

}

.endOfGame{
  background-image: url('pictures/Untitled_Artwork.jpg');
  display: flex;
  margin: 0;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}

.score {
  color: gray;
  display: inline;
  padding-right: 100px;
}

nav {
    text-align: center;
    font-size: 30px;
  }


.startScreen {
  background-image: url(pictures/badge.gif);
  background-size: contain;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  max-height: 600px;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.startGame {

}

.lowerPage > {
  display: flex;
  flex-wrap: wrap;
  width: 20px;
  height: 20px;
  justify-content: center;
}
